@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 87.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
.page {
  display: flex;
}
.page__header {
  background-color: #140a30;
  color: #fff;
}
.header__logo {
  margin: 27px 40px 52px 40px;
  display: block;
}
.header__logo-img {
  max-width: 170px;
  max-height: 80px;
}
.popup {
  background-color: #df0d21;
  padding: 10px 20px;
  border: #df0d21 1px solid;
  border-radius: 5px;
}

.header-nav__item {
  margin: 0px 0px 97px 0px;
  text-align: center;
}
.header-nav__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.header-nav__link:active {
  background-color: #df0d21;
}

.main-block {
  width: 1400px;
}
.top-main-block__title {
  margin: 50px 0px 39px 90px;
  font-weight: 400;
  font-size: 36px;
}
.top-main-block__title-doc {
  margin: 40px 0px 40px 160px;
  font-weight: 400;
  font-size: 32px;
}
.top-main-block__list {
  margin: 40px 0px 0px 180px;
  font-weight: 400;
  font-size: 20px;
}
.top-main-block__item:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.bottom-main-block__title {
  margin: 50px 0px 40px 160px;
  font-weight: 400;
  font-size: 32px;
}
.bottom-main-block__item {
  margin: 0px 0px 0px 180px;
}
.bottom-main-block__item:not(:last-child) {
  margin: 0px 0px 23px 180px;
}
.time-main-block__text {
  margin: 80px 0px 0px 0px;
  text-align: right;
  font-weight: 400;
  font-size: 20px;
}
.time-main-block__vrm {
  margin: 20px 50px 0px 0px;
  text-align: right;
  margin: px 0px 0px 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.contacts-block {
  width: 1400px;
}
.contacts-block__body {
  margin: 50px 0px 0px 90px;
}
.contacts-block__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}
.contacts-block__list {
  margin: 50px 0px 0px 30px;
}
.contacts-block__item {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.contacts-block__item:not(:last-child) {
  margin: 0px 0px 25px 0px;
}
.contacts-block__maps {
  margin: 50px 0px 0px 30px;
}

.schedule-block {
  width: 1400px;
}
.schedule-block__body {
  margin: 50px 0px 0px 90px;
}
.schedule-block__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}
.schedule-block__text {
  margin: 187px 0px 0px 250px;
  font-weight: 400;
  font-size: 32px;
}
.schedule-block__list {
  margin: 30px 0px 0px 280px;
}
.schedule-block__item {
  margin: px 0px 0px 0px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.schedule-block__item:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
.schedule-block__text-ras {
  margin: 40px 0px 0px 250px;
  font-weight: 400;
  font-size: 25px;
}

.payment-block {
  width: 1400px;
}
.payment-block__top {
  margin: 50px 0px 0px 90px;
}
.payment-block__bottom {
  margin: 50px 0px 0px 90px;
}

.top-payment-block__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}
.top-payment-block__item {
  margin: 30px 0px 0px 20px;
  font-weight: 400;
  font-size: 24px;
}

.bottom-payment-block__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}
.bottom-payment-block__item {
  margin: 30px 0px 0px 20px;
  font-weight: 400;
  font-size: 24px;
}

.services-block {
  width: 1400px;
}
.up-services-block__title {
  margin: 50px 0px 0px 90px;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}
.up-services-block__heading {
  margin: 50px 0px 0px 0px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.up-services-block__text-top {
  margin: 30px 0px 0px 0px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.up-services-block__text-center {
  margin: 30px 0px 0px 0px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.up-services-block__text-bottom {
  margin: 30px 0px 0px 0px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.bottom-services-block {
  margin: 110px 0px 0px 90px;
}
.bottom-services-block__text-up {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.bottom-services-block__text-center {
  margin: 50px 0px 0px 0px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.bottom-services-block__text-bottom {
  margin: 50px 0px 0px 0px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.request-block__title {
  margin: 50px 0px 0px 90px;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}
.request-block__inner {
  margin: 40px 0px 0px 110px;
}
.request-block__name-body {
  margin: 25px 0px 0px 0px;
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.request-block__name-input {
  width: 455px;
  border: #140a30 2px solid;
  border-radius: 5px;
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.request-block__family-input {
  width: 408px;
  border: #140a30 2px solid;
  border-radius: 5px;
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.request-block__otchestvo-input {
  width: 407px;
  border: #140a30 2px solid;
  border-radius: 5px;
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.request-block__data-body {
  display: flex;
}
.request-block__datarojdenia-input {
  border: #140a30 2px solid;
  border-radius: 5px;
  padding: 0px 118px 0px 0px;
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.request-block__popup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.request-block__mestorojdenia-input {
  width: 337px;
  border: #140a30 2px solid;
  border-radius: 5px;
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.request-block__pasportseria-input {
  width: 357px;
  border: #140a30 2px solid;
  border-radius: 5px;
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.request-block__nomer-body {
  display: flex;
}
.request-block__nomer-input {
  width: 347px;
  border: #140a30 2px solid;
  border-radius: 5px;
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.request-block__kogdaikem-input {
  width: 291px;
  border: #140a30 2px solid;
  border-radius: 5px;
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.request-block__adres-input {
  width: 437px;
  border: #140a30 2px solid;
  border-radius: 5px;
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.request-block__obrazovanie-input {
  width: 370px;
}
.request-block__mestoraboti-input {
  width: 361px;
  border: #140a30 2px solid;
  border-radius: 5px;
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.request-block__kategoria-input {
  width: 348px;
  border: #140a30 2px solid;
  border-radius: 5px;
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.request-block__group-input {
  width: 430px;
  border: #140a30 2px solid;
  border-radius: 5px;
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.request-block__okrug-input {
  width: 441px;
  border: #140a30 2px solid;
  border-radius: 5px;
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.request-block__nachaloobuch-input {
  width: 332px;
  border: #140a30 2px solid;
  border-radius: 5px;
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.request-block__buttons {
  padding: 80px 0px 0px 0px;
  width: 100%;
  text-align: right;
}
.request-block__button {
  padding: 7px 45px;
  border: solid 1px #fe9237;
  background-color: #fe9237;
  border-radius: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.body__mar {
  margin: 25px 0px 0px 0px;
  display: flex;
}

.text {
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.request-block {
  min-width: 1440px;
}
.request-block__title {
  margin: 50px 0px 0px 90px;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}
.request-block__inner {
  display: flex;
  align-items: right;
}
.request-block__cards {
  margin: 25px 0px 0px 0px;
  display: flex;
}
.request-block__cards-text {
  width: 300px;
  margin: 0px 20px 0px 0px;
  text-align: right;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.request-block__cards-input {
  border: #140a30 2px solid;
  border-radius: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.request-block__buttons {
  padding: 80px 0px 0px 0px;
  width: 100%;
  text-align: right;
}
.request-block__button {
  padding: 7px 45px;
  border: solid 1px #fe9237;
  background-color: #fe9237;
  border-radius: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.request-block #inline {
  margin-left: 30px;
  width: 80%;
  margin: 0 auto;
  background: #FFF;
  padding: 10px 20px;
}
.request-block .txt {
  display: inline-block;
  color: #000;
  width: 190px;
  margin-bottom: 10px;
  border: 1px solid #140a30;
  padding: 5px 9px;
  font-size: 15px !important;
  line-height: 1.4em;
}
.request-block .txtarea {
  display: inline-block;
  color: #000;
  width: 617px;
  margin-bottom: 10px;
  border: 1px solid #140a30;
  padding: 5px 9px;
  font-size: 15px !important;
  line-height: 1.4em;
  height: 80px;
}
.request-block .txt:focus, .request-block .txtarea:focus {
  border-style: solid;
  border-color: #fe9237;
  color: #000;
}
.request-block #send {
  color: #000;
  display: block;
  cursor: pointer;
  padding: 5px 11px;
  font-size: 1.2em;
  padding: 7px 45px;
  border: solid 1px #fe9237;
  background-color: #fe9237;
  border-radius: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.request-block .text {
  text-align: right;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0px 0px 10px 0px;
}
